body {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center;  */
    width: 100vw -20px;
    height: 100vh -20px;
    margin: 10px;
}

#root {
    width: 100%;
    max-width: 1240px;
}

html {
    /* Adiciona um efeito de rolagem suave quando links internos são clicados */
    scroll-behavior: smooth;
    /* Define o tamanho da fonte base como 10px (para facilitar o uso de rem) */
    font-size: 62.5%;
    /* Garante que o elemento html não seja maior que a largura da viewport */
    max-width: 100vw;
}

h1 {
    font-size: 3rem;
}

@media screen and (max-width: 960px) {
    html {
        font-size: 50%;
    }
}

@media screen and (max-width: 600px) {
    html {
        font-size: 37.2%;
    }
}